davs {
	color: #054af9;
	background-color: #eb240e;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-style: italic;
	cursor: pointer;
	zoom: 10%;
	flex-direction: column;
	transform: rotate(0deg);
	background-color: transparent;
}
